.translate-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 65em;
  margin: 0 auto;
  margin-bottom: 2em;
}

.cards-div {
  display: flex;
  justify-content: space-between;
  max-width: 67em;
  margin: 0 auto;
  margin-bottom: 1em;
}
